{% extends "layout_workforce.html" %}


{% block pageTitle %}
Faraz Haynes | Add reduction | Workforce planning
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <a href="team-view" class="govuk-back-link govuk-body">Back to team overview</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Southampton Team 1</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Faraz Haynes <span class="workforce-grade">Probation Officer</span></h1>    
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"  href="officer-view">Overview</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="officer-view-cases">Active cases</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#3">Archived cases (on nDelius)</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="officer-view-contracted">Contracted hours</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="officer-view-reductions">Reductions</a>
        </li>
      </ul>
    </nav>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-padding-bottom-9">Add reduction</h1>
    <form action="officer-view-reductions" method="post" novalidate>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="reduction-reasons">
          Reason for reduction
        </label></h1>
        <select class="govuk-select" id="reduction-reasons" name="reduction-reasons">
          <option value="unselected" selected>Select reason</option>
          <option value="other">Adoption Leave</option>
          <option value="other">Co-Worked Cases</option>
          <option value="other">Court Duty</option>
          <option value="disbility">Disability</option>
          <option value="other">Groups (Group supervision)</option>
          <option value="other">Groups (Induction)</option>
          <option value="other">Level 4 or 5 Access</option>
          <option value="other">Level 4 and Level 5 Access</option>
          <option value="other">Long Term Sickness Absence</option>
          <option value="other">Maternity Leave</option>
          <option value="other">Mentoring-early 1</option>
          <option value="other">Mentoring-mid 1</option>
          <option value="other">Mentoring-Early 2</option>
          <option value="other">Mentoring-Mid 2</option>
          <option value="other">Mentoring-Early 3</option>
          <option value="other">Mentoring-Mid 3</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="new-reduction-hours">
              Hours
            </label></h1>
            <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="new-reduction-hours" name="new-reduction-hours" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="reduction-start-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h3 class="govuk-fieldset__heading">
              Reduction start date
            </h3>
          </legend>

          <div id="reduction-start-hint" class="govuk-hint">
            For example, 31 01 2021
          </div>
          <div class="govuk-date-input" id="reduction-start">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="new-reduction-start-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="new-reduction-start-day" name="new-reduction-start-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="new-reduction-start-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="new-reduction-start-month" name="new-reduction-start-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="new-reduction-start-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="new-reduction-start-year" name="new-reduction-start-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
          </div>
        </fieldset>
      </div>
      

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="reduction-end-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h3 class="govuk-fieldset__heading">
              Reduction end date
            </h3>
          </legend>

          <div id="reduction-start-hint" class="govuk-hint">
            For example, 31 01 2025
          </div>
          <div class="govuk-date-input" id="reduction-end">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="new-reduction-end-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="new-reduction-end-day" name="new-reduction-end-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="new-reduction-end-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="new-reduction-end-month" name="new-reduction-end-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="new-reduction-end-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="new-reduction-end-year" name="new-reduction-end-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
            Additional notes
          </label>
        </h1>
        <!--<div id="more-detail-hint" class="govuk-hint">
          assuming we'll need this later
        </div>-->
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Save changes
        </button>
        <a class="govuk-link" href="officer-view-reductions">Cancel</a>
      </div>
    </form>

  </div>
</div>



 


{% endblock %}