{% extends "layout_cases-nav.html" %}


{% block pageTitle %}
J678910 | Overview | Workforce planning
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <a href="unallocated-cases" class="govuk-back-link govuk-body">Back to unallocated cases</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span style="float:left; width: 71px; height: 71px; padding :10px; margin-right: 10px; background-color: #1d70b8; color: white; font-size: 60px; font-weight: 800;">C2</span><h1 class="govuk-heading-xl govuk-!-margin-bottom-2"><span class="govuk-caption-xl">CRN: J680648</span>Andrei Edwards</h1>    
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"  aria-current="page" href="case-view">Summary</a>
        </li>
         <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#">Allocate to an officer</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Summary</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">Offence</h3>
    <div class="app-card govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
         Common assault and battery
      </h3>
      <p class="govuk-body-s secondary-text-col"><strong>Contrary to section 39 of the Criminal Justice Act 1988.</strong></p>
      <p>On Wednesday 15th February 2021 at Grey Lane, S10 1AG, assaulted Sarah Smith by beating her.</p>
    </div>

    <h2 class="govuk-heading-m">Sentence</h2>
    <div class="app-card govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
        Community Order
      </h3>

      <p>
        12 months, sentence ends 16th July 2022
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
        PSS requirements
      </h3>
      <p class="govuk-!-margin-bottom-0">
        Standard 7 conditions
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">
        Rehabilitation activity requirement
      </h3>
      <p class="govuk-!-margin-bottom-0">
        15 days
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">Offender details</h3>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <div class="tooltip">PNC<span class="tooltiptext">Police National Computer</span></div>
        </dt>
        <dd class="govuk-summary-list__value">
          2012/123400000F
        </dd>
      </div>

       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Gender
        </dt>
        <dd class="govuk-summary-list__value">
          Male
        </dd>
      </div>

       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of Birth
        </dt>
        <dd class="govuk-summary-list__value">
          27 Sep 2003 (18 years)
        </dd>
      </div>
    </dl>
  </div>
</div>
{% endblock %}