.workforce-grade {
  color: $govuk-secondary-text-colour;
  display: block;
}

.tier-a {
  background-color: govuk-colour('bright-purple');
}

.tier-b {
  background-color: govuk-colour('purple');
}

.tier-c {
  background-color: govuk-colour('dark-blue');
}

.tier-d {
  background-color: govuk-colour('blue');
}

.tier-other {
  background-color: govuk-colour('light-blue');
}

.caseload-swatch {
  border: 1px solid transparent;
  border-radius: 30%;
  display: block;
  float: left;
  height: 20px;
  margin-right: 10px;
  width: 20px;
}

.workforce-progress-container {
  background-color: govuk-colour('white');
  height: 50px;
  margin-bottom: 30px;
  width: 100%;
}

.workforce-progress-bar {
  border: solid;
  border-color: govuk-colour('white');
  border-right: 3px;
  float: left;
  height: 30px;
  margin-right: -3px;
  padding: 10px 0;
  text-align: center;

  &.bar-width-5 {
    width: 5%;
  }

  &.bar-width-10 {
    width: 10%;
  }

  &.bar-width-15 {
    width: 15%;
  }

  &.bar-width-20 {
    width: 20%;
  }

  &.bar-width-25 {
    width: 25%;
  }

  &.bar-width-30 {
    width: 30%;
  }

  &.bar-width-35 {
    width: 35%;
  }

  &.bar-width-40 {
    width: 40%;
  }

  &.bar-width-45 {
    width: 45%;
  }

  &.bar-width-50 {
    width: 50%;
  }

  &.bar-width-75 {
    width: 75%;
  }

  p {
    color: govuk-colour('white');
    line-height: 30px;
    margin: 0;
  }
}

.overview {
  height: 20px;
  margin: -6px 0 0;

  .workforce-progress-bar {
    color: govuk-colour('white');
    line-height: 32px;
    padding: 0;
  }
}

.tooltip {
  border-bottom: 1px dotted govuk-colour('dark-grey');
  display: inline-block;
  position: relative;

  .tooltiptext {
    background-color: govuk-colour('dark-grey');
    border-radius: 6px;
    color: govuk-colour('white');
    left: 105%;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: -5px;
    visibility: hidden;
    width: 120px;
    z-index: 1;
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}

//* Hide content meant only for screen readers */
.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
