{% extends "layout_index.html" %}

{% block pageTitle %}
Prototype | HMPPS | Manage a workforce
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Alpha 2</h1>

    <div class="moj-timeline">

      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">MVP Detail for team and individual screens</h2>
          <p class="moj-timeline__byline">(Sprint 1)</p>
        </div>
        <p class="moj-timeline__date">February 15&mdash;March 1
        </p>

        <div class="moj-timeline__description">
          <p>Iteration of capacity screens based on feedback from user research, addition of single metric to replace points.</p>
          <a class="govuk-button govuk-!-margin-bottom-6" href="/v1/team-view">View prototype</a>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/v1/team-view-breakdown">View alternate team view with case type breakdown</a></li>
            <li><a href="/v1/team-view-fixed-breakdown">View alternate case view with simplified breakdown</a></li>
            <li><a href="/v1/team-view-v2">View alternate team view with table sorting</a></li>
            <li><a href="/v1/officer-view-cases-badges">View alternate case view with tier badges</a></li>
          </ul>

          
        </div>
      </div>

      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Capacity</h2>
          <p class="moj-timeline__byline">(Sprint 0)</p>
        </div>
        <p class="moj-timeline__date">January 21&mdash;February 15
        </p>

        <div class="moj-timeline__description">
          <p>First version of prototype using simpler views on team and individual capacity.</p>
          <a class="govuk-button govuk-!-margin-bottom-0" href="/v0/team-view">View Prototype</a>
        </div>
      </div>

    </div>

    <h1 class="govuk-heading-l">Alpha 1</h1>

    <div class="moj-timeline">

      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Allocation proof of concept</h2>
          <p class="moj-timeline__byline">(Kanban)</p>
        </div>
        <p class="moj-timeline__date">December 2020
        </p>

        <div class="moj-timeline__description">
          <ul class="govuk-list govuk-list--bullet">
            <li>Updated layout based on gov design system and using generated dataset</li>
            <li>Sortable data tables</li>
            <li>View of Service user</li>
          </ul>
          <a class="govuk-button govuk-!-margin-bottom-0" href="/allocations/0/new-allocations">View prototype</a>
        </div>
      </div>

    </div>

  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list useful-links govuk-!-font-size-16">
          <li>
            <a href="https://dsdmoj.atlassian.net/wiki/spaces/DPP/pages/2867069124/Manage+a+workforce"
              class="govuk-link--no-visited-state">
              Project Confluence
            </a>
          </li>
          <li>
            <a href="https://trello.com/b/EG3sugDU/allocation-priorities"
              class="govuk-link--no-visited-state">
              Project Trello
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/drive/u/1/folders/12kESGz_0io-aWUdAPZqBIISFgOfTQBUh" class="govuk-link--no-visited-state">
              Team Google Drive
            </a>
          </li>
          <li>
            <a href="https://github.com/jonhindle/allocations-prototype" class="govuk-link--no-visited-state">
              Prototype GitHub repository
            </a>
          </li>
        </ul>
      </nav>
      <h2 class="govuk-heading-m govuk-!-margin-top-6">Examples and documentation</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list useful-links govuk-!-font-size-16">
          <li>
            <a href="https://govuk-prototype-kit.herokuapp.com/docs/tutorials-and-examples"
              class="govuk-link--no-visited-state">
              GOV.UK Prototype Kit - Tutorials and examples
            </a>
          </li>
          <li>
            <a href="https://design-system.service.gov.uk/" class="govuk-link--no-visited-state">
              GOV.UK Design System
            </a>
          </li>
          <li>
            <a href="https://moj-design-system.herokuapp.com/" class="govuk-link--no-visited-state">
              MOJ Design System
            </a>
          </li>
          <li>
            <a href="https://github.com/ctdesign/gov-design-systems-list/blob/master/README.md"
              class="govuk-link--no-visited-state">
              GOV Design Systems list
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>

  {% endblock %}